<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Base de données des doctorats Honoris Causa en France">
    <meta property="og:type" content="website">
    <link rel="icon" href="/favicon.svg">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.classless.min.css"
    />
    <title>{% block title %}Doctorats Honoris Causa de France!{% endblock %}</title>
    <style>
        header > h1 {
            text-align: center;
            border: 1px solid black;
            border-radius: 0.4em;
        }

        header > h1 > a > img {
            height: 1em;
            margin-right: 0.4em;
        }

        header > h1 > a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: black;
            padding: 0.3em;
        }

        header > h1 > a:hover {
            text-decoration: underline;
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<header>
    <h1><a href="{{ url("app_index") }}"><img src="{{ asset("favicon.svg") }}"/>Doctorats honoris Causa en France</a>
    </h1>
</header>
<main>
    {% block body %}{% endblock %}
</main>
</body>

{% block javascripts %}
{% endblock %}
</html>